@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';
html,
body {
  font-family: 'Roboto Mono', monospace;
  background: #212121;
  height: 100%;
}

.container {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.text {
  font-weight: 100;
  font-size: 28px;
  color: #fafafa;
}

.dud {
  color: #757575;
}

/* Quy tắc CSS cho button */

.redirect-btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fafafa;
  text-decoration: none; /* Loại bỏ gạch chân mặc định của liên kết */
  background-color: #212121;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.redirect-btn:hover {
  background-color: #757575;
}