<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" 
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>items</key>
    <array>
      <dict>
        <key>assets</key>
        <array>
          <!-- File .ipa -->
          <dict>
            <key>kind</key>
            <string>software-package</string>
            <key>url</key>
            <string>https://download1588.mediafire.com/5wwz5ojms5pgudtuiAGnmt7xuIT7DvVL9-PWsG4dnGl0qZCviSNICdiOa3kIDUZTwUkIlR5AGqzC2HpSA6TY-Ya9OwvHcJrG0ExmHB7_b2C66HwM6cNdZHfLR4iY_TV0VIoiOeQhF1eOqMif2X1YRvE0L3We_LFjy5uVq7Go4zw/y5e3mqxpr1wrgj9/Locket+Widget+v2.8.0+-+camsitup24.ipa</string>
          </dict>

          <!-- Logo (biểu tượng ứng dụng hiển thị khi cài) -->
          <dict>
            <key>kind</key>
            <string>display-image</string>
            <key>needs-shine</key>
            <false/>
            <key>url</key>
            <string>https://is1-ssl.mzstatic.com/image/thumb/Purple221/v4/f8/03/e2/f803e2c9-127e-8fb4-a014-8de74abcc8ce/app_icon-0-0-1x_U007ephone-0-1-sRGB-85-220.png/512x512bb.jpg</string>
          </dict>

          <!-- Logo retina (tùy chọn, có thể dùng cùng ảnh nếu không có ảnh 2x) -->
          <dict>
            <key>kind</key>
            <string>full-size-image</string>
            <key>needs-shine</key>
            <false/>
            <key>url</key>
            <string>https://is1-ssl.mzstatic.com/image/thumb/Purple221/v4/f8/03/e2/f803e2c9-127e-8fb4-a014-8de74abcc8ce/app_icon-0-0-1x_U007ephone-0-1-sRGB-85-220.png/512x512bb.jpg</string>
          </dict>
        </array>

        <key>metadata</key>
        <dict>
          <key>bundle-identifier</key>
          <string>com.locket.Locket</string>
          <key>bundle-version</key>
          <string>2.8.0</string>
          <key>kind</key>
          <string>software</string>
          <key>title</key>
          <string>Locket Gold By Zaara</string>
          <key>subtitle</key>
          <string>Locket</string>
        </dict>
      </dict>
    </array>
  </dict>
</plist>
